@font-face {
  font-family: "AdiHaus";
  src: URL("https://assets.codepen.io/6060109/adihaus_regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --blue-color: #2f80ed;
  --black: #423a3a;
  --light-gray: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "AdiHaus";
}

body {
  background: url("./img/waves.webp");
  background-size: cover;
}

/* First h2 must be var(--blue-color) and font normal
Second h2 must be var(--black) and font bold */

h2 {
  color: var(--black);
  font-size: 64px;
  letter-spacing: 5px;
}

.main-container {
  min-height: 400px;
  text-align: center;
}

#mobile-image {
  width: 100%;
  background: url("./img/mobile-shoes.jpg");
  background-size: cover;
  height: 200px;
  display: block;
}

#logo {
  max-width: 100%;
  height: auto;
}

input {
  padding: 12px 30px;
  font-family: "AdiHaus";
}

button {
  background-color: black;
  color: #fff;
  padding: 12px 30px;
  border: none;
}

#desktop-image {
  display: none;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    min-height: 400px;
  }

  .logo-container,
  .content-container {
    padding: 40px;
  }

  .logo-container {
    position: absolute;
  }

  .content-container {
    margin-top: 100px;
  }

  #mobile-image {
    display: none;
  }

  #desktop-image {
    background: url("./img/shoes.webp");
    background-size: cover;
    width: 100%;
    clip-path: polygon(100% 0, 0 0, 30% 100%, 100% 100%);
    min-height: 100vh;
    display: block;
  }
}
